<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2020. Timothy Jonker @ NVCC
  ~
  ~ Author: Timothy Jonker
  ~ Affiliation: NVCC
  ~
  ~ Terms of Use:
  ~ This application is part of the term projects of the course ITP226 of Fall 2020.  It is not to released to any third party, whether with or without the permission of the author.  Any unauthorized use of this application may be subject to prosecution.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timothyjonker.songplayer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:background="@color/mainBackground"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DownloadActivity" />
    </application>

</manifest>